@import '../../scss/variable';
.card{
  table{
    border: 1px solid $border;
    border-collapse: collapse;
    padding: 5px;
    tr{
      td{
        @extend table;
      }
    }
  }
}
.logout{
  position: absolute;
  right: 70px;
  top: 40px;
}